* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	user-select: none;
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.player {
	position: relative;
	height: 180px;
	aspect-ratio: 16/9;
	overflow: hidden;
	border-radius: 1.2rem;
	background-color: var(--picked-color);
	padding: 8px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

.player > div:first-of-type {
	column-gap: 4px;
	color: var(--some-other, #fff);
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
}

.player > div {
	display: flex;
	flex-flow: row nowrap;
}

#low-section {
	justify-content: space-between;
}

#icon {
	width: 20px;
	fill: var(--some-other, #fff);
}

#cover {
	height: 90px;
	border-radius: 15%;
}

#background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
	filter: blur(10px);
	opacity: 0.15;
}

button {
	appearance: none;
	border: none;
	background: none;
	color: var(--some-other, #fff);
}

#low-section > div {
	position: relative;
	width: 80%;
	display: flex;
	align-items: center;
	/* background: red; */
}

#low-section > div > span {
	display: block;
}

#low-section > div > span:first-of-type {
	height: 3px;
	width: 100%;
	background-color: var(--some-other, #fff);
	opacity: 0.35;
	border-radius: 3px;
}

#low-section > div > span:nth-of-type(2) {
	position: absolute;
	height: 3px;
	width: var(--progress);
	background-color: var(--some-other, #fff);
	border-radius: 3px;
}

#low-section > div > span:last-of-type {
	position: absolute;
	width: 10px;
	margin-left: calc(var(--progress) - 5px);
	aspect-ratio: 1/1;
	background-color: var(--some-other, #fff);
	border-radius: 50%;
}

#mid-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#mid-section button {
	background-color: var(--some-other);
	aspect-ratio: 1/1;
	height: 42px;
	border-radius: 25%;
	color: #000;
}
